div{
    overflow-x:hidden;
}


#header{
    height:28vh;
    border: 1em;
    
    background-color:blue;


}


h1{
    text-align:center;
    margin-top:10vh;
}

p{
    text-align:center;
}

#sides1{
    background-image: url(Wings_LP.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: contain;
   
}



.section{
    padding-top: 1em;
   

}