div{
    overflow-x:hidden;
}


#header{
    height:30vh;
    border: 1em;
    border-style:dotted;
    border-color:red;
    background-color:blue;


}


body{
    /*background-image: url("https://wallpapercave.com/wp/p3mG2Tt.jpg");*/
    background-size: contain;


}

h1{
    text-align:center;
    margin-top:10vh;
}

p{
    text-align:center;



}

.sides{
    background-image:url(images/HeadStart.png);
    background-size:contain;
    background-repeat: no-repeat;
}



#first_section{
    padding-top: 1em;
    border-bottom:1em;
    border-color:red;
    border-style:dotted;

}