div{
    overflow-x:hidden;
}


#header{
    height:30vh;
    border: 1em;
    border-style:dotted;
    border-color:red;
    background-color:blue;


}

h1{
    text-align:center;
    margin-top:10vh;
}

p{
    text-align:center;



}



#first_section{
    padding: 2em;
    border-bottom:1em;
    border-color:red;
    border-style:dotted;

}