#CEO{
  display:block;
  margin:auto;
  width:auto;
  margin-top:10vh;
 

}

#CCO{
  display:block;
  margin:auto;
  width:auto;
  margin-top: 10vh;
 
}


h1{
  text-align: center;
}


p{
  text-align:center;




}

#upper{
  margin-left:10vw;
  margin-right:10vw;
}


