#car-img{
  display:block;
  margin:auto;
  height:60vw;
  width:70vw;
}

#CEO{
  display:block;
  margin:auto;
  height:auto;
  width:70vw;
  margin-top: 5vh;
 

}

#CCO{
  display:block;
  margin:auto;
  height:auto;
  width:70vw;
  margin-top: 5vh;
 
}



body{
  background-repeat: no-repeat;
  background-image: url("Images/sky.jpeg");
  background-size:cover;


}

h1{
  text-align: center !important;
  font-family: 'Anton', sans-serif !important;
  font-size:6vw !important;
  color:white !important;
}


p{
  text-align:center;
  color:white;



}



#upper{
  padding-right:10vw;
  padding-left:10vw;

}

#des{
  padding-right:7vw;
  padding-left:7vw;
}


